@font-face {
    font-family: hLight;
    src: url(HelveticaNeue.ttf);
}
@font-face {
    font-family: hBold;
    src: url(HelveticaBold.ttf);
}
body, html {
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-image: url(../src/background.jpg);
    background-repeat: no-repeat;
    background-size: cover auto;
    background-position: center middle;
    color: #ffffff;
    font-family: hLight;
}
h1, h2, h3, h4, h5, h6 {
    font-family: hBold;
}
.container {
    margin-top: 10%;
}
#time {
    font-size: 56px;
}
.cont-greeting, .cont-search-bar {
    text-align: center;
    width: 100%;
    height: auto;
}
#wiki-bar {
    padding: 20px 20px;
    width: 50%;
    border: 0px solid;
    box-shadow: 0px 1px 2px 0px #000;
    font-size: 16px;
}
*:focus {
    outline: none;
}